// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Defining a variable
$gray: #F4F4F4;
$cream: #f3f2d0;

body {
  background: $gray; // Using this variable
}



h1 {
  font-size: 50px;
  padding-bottom: 15px;
}



.back {
  color: blue
}

.question {
  padding: 16px;
  border-left: 8px solid grey;
  margin-bottom: 10px;
}



.answer {
  background: $cream;
  padding: 16px;
  border-left: 8px solid grey;
}
